body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_FlexContainer1
{
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
   box-sizing: border-box;
   position: relative;
}
#FlexContainer1
{
   display: flex;
   position: relative;
   padding: 10px 10px 10px 10px;
   flex-direction: column;
   flex-wrap: nowrap;
   justify-content: space-around;
   align-items: flex-start;
   align-content: flex-start;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 360px;
   box-sizing: border-box;
   font-size: 0;
}
#wb_Heading1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0 0 10px 0 ;
   padding: 0;
   text-align: left;
   flex-grow: 0;
   flex-shrink: 0;
   align-self: auto;
}
#Heading1
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 21px;
   margin: 0;
   text-align: left;
   text-transform: none;
}
#wb_txt1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   height: 54px;
   flex-grow: 0;
   flex-shrink: 0;
   align-self: auto;
   overflow-y: hidden;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_txt1 div
{
   text-align: left;
}
#wb_Armario_metalico_azul
{
   margin: 0 0 15px 0 ;
   flex-grow: 0;
   flex-shrink: 0;
   align-self: auto;
   vertical-align: top;
}
#Armario_metalico_azul
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: inline-block;
   width: 340px;
   height: auto;
}
#wb_txt2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   flex-grow: 0;
   flex-shrink: 0;
   align-self: auto;
   padding: 0;
   margin: 3px 0 4px 0 ;
   text-align: left;
}
#wb_txt2 div
{
   text-align: left;
}
#wb_img2
{
   margin: 0 0 15px 0 ;
   flex-grow: 0;
   flex-shrink: 0;
   align-self: auto;
   vertical-align: top;
}
#img2
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 4px 0 0 0;
   display: inline-block;
   width: 340px;
   height: auto;
}
#wb_txt3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   height: 89px;
   flex-grow: 0;
   flex-shrink: 0;
   align-self: auto;
   overflow-y: hidden;
   padding: 3px 0 1px 0;
   margin: 0;
   text-align: left;
}
#wb_txt3 div
{
   text-align: left;
}
#wb_img3
{
   margin: 0 0 15px 0 ;
   flex-grow: 0;
   flex-shrink: 0;
   align-self: auto;
   vertical-align: top;
}
#img3
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: inline-block;
   width: 340px;
   height: auto;
}
#wb_txt4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   height: 54px;
   flex-grow: 0;
   flex-shrink: 0;
   align-self: auto;
   overflow-y: hidden;
   padding: 3px 0 7px 0;
   margin: 0;
   text-align: left;
}
#wb_txt4 div
{
   text-align: left;
}
#wb_img4
{
   margin: 0 0 15px 0 ;
   flex-grow: 0;
   flex-shrink: 0;
   align-self: auto;
   vertical-align: top;
}
#img4
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: inline-block;
   width: 340px;
   height: auto;
}
#wb_txt5 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   height: 89px;
   flex-grow: 0;
   flex-shrink: 0;
   align-self: auto;
   overflow-y: hidden;
   padding: 3px 0 1px 0;
   margin: 0;
   text-align: left;
}
#wb_txt5 div
{
   text-align: left;
}
#wb_img5
{
   margin: 0 0 15px 0 ;
   flex-grow: 0;
   flex-shrink: 0;
   align-self: auto;
   vertical-align: top;
}
#img5
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: inline-block;
   width: 340px;
   height: auto;
}
#wb_txt6 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   height: 71px;
   flex-grow: 0;
   flex-shrink: 0;
   align-self: auto;
   overflow-y: hidden;
   padding: 3px 0 1px 0;
   margin: 0;
   text-align: left;
}
#wb_txt6 div
{
   text-align: left;
}
#wb_img6
{
   margin: 0 0 15px 0 ;
   flex-grow: 0;
   flex-shrink: 0;
   align-self: auto;
   vertical-align: top;
}
#img6
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: inline-block;
   width: 340px;
   height: auto;
}
#wb_txt7 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   height: 54px;
   flex-grow: 0;
   flex-shrink: 0;
   align-self: auto;
   overflow-y: hidden;
   padding: 3px 0 1px 0;
   margin: 0;
   text-align: left;
}
#wb_txt7 div
{
   text-align: left;
}
#wb_img7
{
   margin: 0 0 15px 0 ;
   flex-grow: 0;
   flex-shrink: 0;
   align-self: auto;
   vertical-align: top;
}
#img7
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: inline-block;
   width: 340px;
   height: auto;
}
#wb_txt8 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   height: 71px;
   flex-grow: 0;
   flex-shrink: 0;
   align-self: auto;
   overflow-y: hidden;
   padding: 0 0 1px 0;
   margin: 0;
   text-align: left;
}
#wb_txt8 div
{
   text-align: left;
}
#wb_img8
{
   margin: 0 0 15px 0 ;
   flex-grow: 0;
   flex-shrink: 0;
   align-self: auto;
   vertical-align: top;
}
#img8
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: inline-block;
   width: 340px;
   height: auto;
}
#wb_txt9 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   flex-grow: 0;
   flex-shrink: 0;
   align-self: auto;
   padding: 3px 0 0 0;
   margin: 0;
   text-align: left;
}
#wb_txt9 div
{
   text-align: left;
}
#wb_img9
{
   margin: 0 0 15px 0 ;
   flex-grow: 0;
   flex-shrink: 0;
   align-self: auto;
   vertical-align: top;
}
#img9
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: inline-block;
   width: 340px;
   height: auto;
}
#wb_txt10 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   height: 68px;
   flex-grow: 0;
   flex-shrink: 0;
   align-self: auto;
   overflow-y: hidden;
   padding: 3px 0 0 0;
   margin: 0;
   text-align: left;
}
#wb_txt10 div
{
   text-align: left;
}
#wb_img10
{
   margin: 0 0 15px 0 ;
   flex-grow: 0;
   flex-shrink: 0;
   align-self: auto;
   vertical-align: top;
}
#img10
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: inline-block;
   width: 340px;
   height: auto;
}
#wb_Text13 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   flex-grow: 1;
   flex-shrink: 1;
   align-self: auto;
   padding: 0;
   margin: 10px 0 0 0 ;
   text-align: center;
}
#wb_Text13 div
{
   text-align: center;
}
#wb_Text1 
{
   background-color: #00CED1;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   flex-grow: 1;
   flex-shrink: 1;
   align-self: auto;
   padding: 0;
   margin: 0 0 4px 0 ;
   text-align: center;
}
#wb_Text1 div
{
   text-align: center;
}
#wb_Text2 
{
   background-color: #00CED1;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   flex-grow: 1;
   flex-shrink: 1;
   align-self: auto;
   padding: 0;
   margin: 0 0 4px 0 ;
   text-align: center;
}
#wb_Text2 div
{
   text-align: center;
}
#wb_Text3 
{
   background-color: #00CED1;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   flex-grow: 1;
   flex-shrink: 1;
   align-self: auto;
   padding: 0;
   margin: 0 0 4px 0 ;
   text-align: center;
}
#wb_Text3 div
{
   text-align: center;
}
#wb_Text4 
{
   background-color: #00CED1;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   flex-grow: 1;
   flex-shrink: 1;
   align-self: auto;
   padding: 0;
   margin: 0 0 4px 0 ;
   text-align: center;
}
#wb_Text4 div
{
   text-align: center;
}
#wb_Text5 
{
   background-color: #00CED1;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   flex-grow: 1;
   flex-shrink: 1;
   align-self: auto;
   padding: 0;
   margin: 0 0 4px 0 ;
   text-align: center;
}
#wb_Text5 div
{
   text-align: center;
}
#wb_Text6 
{
   background-color: #00CED1;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   flex-grow: 1;
   flex-shrink: 1;
   align-self: auto;
   padding: 0;
   margin: 0 0 4px 0 ;
   text-align: center;
}
#wb_Text6 div
{
   text-align: center;
}
#wb_Text7 
{
   background-color: #00CED1;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   flex-grow: 1;
   flex-shrink: 1;
   align-self: auto;
   padding: 0;
   margin: 0 0 4px 0 ;
   text-align: center;
}
#wb_Text7 div
{
   text-align: center;
}
#wb_Text8 
{
   background-color: #00CED1;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   flex-grow: 1;
   flex-shrink: 1;
   align-self: auto;
   padding: 0;
   margin: 0 0 4px 0 ;
   text-align: center;
}
#wb_Text8 div
{
   text-align: center;
}
#wb_Text9 
{
   background-color: #00CED1;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   flex-grow: 1;
   flex-shrink: 1;
   align-self: auto;
   padding: 0;
   margin: 0 0 4px 0 ;
   text-align: center;
}
#wb_Text9 div
{
   text-align: center;
}
#wb_Text10 
{
   background-color: #00CED1;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   flex-grow: 1;
   flex-shrink: 1;
   align-self: auto;
   padding: 0;
   margin: 0 0 4px 0 ;
   text-align: center;
}
#wb_Text10 div
{
   text-align: center;
}
